<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home page</title>
  </head>
  <body>
    <h1>URL SHORTNER</h1>

    <div>
      <% if(locals.id){ %>
        <p>URL Generated : http://localhost:3000/<%=id %></p>
        <% } %>
      <form method="POST" action="/url">
        <label>Enter your original URL</label>
        <input
          type="text"
          name="url"
          placeholder="https://example.com"
          required
        />
        <button type="submit">Generate</button>
      </form>
    </div>

  </body>
</html>