<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home page</title>
  </head>
  <body>
    <h1>URL SHORTNER</h1>

    <div>
      <% if(locals.id){ %>
      <p>URL Generated : http://localhost:8000/url/<%= id %></p>        <% } %>
      <form method="POST" action="/url">
        <label>Enter your original URL</label>
        <input
          type="text"
          name="url"
          placeholder="https://example.com"
          required
        />
        <button type="submit">Generate</button>
      </form>

  <table >
  <thead>
    <tr>
      <th>Short ID</th>
      <th>Redirect URL</th>
      <th>Clicks</th>
    </tr>
  </thead>

  <tbody>
    <% urls.forEach(url => { %>
      <tr>
        <td><%= url.shortId %></td>
        <td><%= url.redirectUrl %></td>
        <td><%= url.visitHistory.length %></td>
      </tr>
    <% }) %>
  </tbody>
</table>
    </div>

  </body>
</html>