<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Document</title>
</head>
<body>
    <h1>signup</h1>
    <form method="post" action="/user">
        <label>enter your full name:</label>
        <input type="text" required name="name"><br>
        <label>enter your email:</label>
        <input type="email" required name="email"><br>
        <label>enter your password:</label>
        <input type="password" required name="password"><br>
        <button type="submit">signup</button>
    </form>
</body>
</html>